<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/github-markdown-css@4.0.0/github-markdown.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/default.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <title><%= title ? title + ' - ' : '' %>mcfx's blog</title>
  </head>

  <body>
    <div class="markdown-body title ptitle" id="title">
      <h1><a href="/" class="hoverlink">mcfx's blog</a></h1>
      <div class="flex">
        <p>题解、Writeup、游记和碎碎念</p>
        <p id="nav">
          <a href="/" class="hoverlink">首页</a>
          <a href="/about/" class="hoverlink">关于</a>
          <a href="/friends/" class="hoverlink">友链</a>
        </p>
      </div>
    </div>
    <%- body %>
  </body>
</html>
